<h1>Please sign up</h1>

<form action="/users" method="post">
	email: <input name="email" type="text">
	password: <input name="password" type="password">
	and_again: <input name="password_confirmation" type="password">
	<input type="submit" value="Sign up">
</form>