<li class= 'link'>
	<a class='title' href="<% link.url %>"><%= link.title %></a>
	<div class='description'>
		Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it?
	</div>
	<span class='source'>
		Added today by
		<a href="#">whittakersc@gmail.com</a>
	</span>
</li>